/* #root {
  max-width: 1280px;
  margin: 0 auto;
  margin-left: 40%;
  margin-bottom: 25%;
  padding: 2rem;
  text-align: center;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-image: url("../src/assets/xb0t-bg.png");
  background-color: #cccccc;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(254, 255, 255);
  text-align: center;
  padding: 10px;
  padding-bottom: 2%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
} */
